<div class="row">
  <div class="col s12 ">
    <div class="carousel carousel-slider">
      <a class="carousel-item" href="#one!"
        ><img src="https://picsum.photos/id/1/800/400"
      /></a>
      <a class="carousel-item" href="#two!"
        ><img src="https://picsum.photos/id/2/800/400"
      /></a>
      <a class="carousel-item" href="#three!"
        ><img src="https://picsum.photos/id/3/800/400"
      /></a>
      <a class="carousel-item" href="#four!"
        ><img src="https://picsum.photos/id/4/800/400"
      /></a>
    </div>
  </div>
</div>
